{% extends "./layout/base.html" %}
{% block body %}

<h3>Halo,</h3>
<p>
  Kami menerima permintaan untuk melakukan reset password akun Anda. Untuk melanjutkan prosesnya, silakan ikuti tautan berikut.
</p>
<p style="display: inline-block; overflow-wrap: break-word; word-wrap: break-word;">
  <a href="{{base_url}}?verification_code={{verification_code}}">
    {{base_url}}?verification_code={{verification_code}}
  </a>
</p>
<p>
  Jika Anda tidak pernah melakukan permintaan tersebut, mohon abaikan email ini.
</p>
<p>
  Salam, <br />
  <strong>AI Care</strong>
</p>
{% endblock %}
