# General config
APP_NAME=aicare-klondike
APP_PORT=8090
APP_HOST=localhost
APP_BASEURL=http://localhost:8090
APP_TIMEZONE=Asia/Jakarta

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASS=admin
POSTGRES_DB=aicare_klondike_db
POSTGRES_SSL=disable

# Redis
REDIS_PORT = 6380
REDIS_HOST = localhost
REDIS_PASS = guest

# RabbitMQ
RABBITMQ_PORT = 5672
RABBITMQ_ADMINPORT = 15672
RABBITMQ_HOST = localhost
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST = aicare-klondike
RABBITMQ_QUEUE_NAME = aicare-klondike

# Logger
LOG_ROTATE_ACTIVE = true
LOG_ROTATE_APP_FILE = "./log/app.log"
LOG_ROTATE_TDR_FILE = "./log/tdr.log"

LOG_SPLUNK_ACTIVE = false
LOG_SPLUNK_URL = "https://<my_clm_host>:8088/services/collector"
LOG_SPLUNK_CHANNEL = "<generated_uuid>"
LOG_SPLUNK_TOKEN = "<my_clm_token>"
LOG_SPLUNK_INDEX = "aicare_staging"
LOG_SPLUNK_SOURCE = "aicare_klondike"
LOG_SPLUNK_SOURCE_TYPE_APP = "aicare_applog"
LOG_SPLUNK_SOURCE_TYPE_TDR = "aicare_tdrlog"

# Keys
KEY_TOKEN_GENERATOR="<32 char string>"

# Template DIR
TEMPLATE_DIR="template/"

# Basic Auth Account
BASIC_AUTH_ACCOUNT="administrator:asololewelehweleh"
