<div style="text-align: center;">
  <p style="text-align: center;">Konsultasikan Kesehatan Anda di</p>
  <p style="text-align: center;">
    <img src="https://s3.callink.id/aicare/public/aicare-logo.png" alt="Logo" title="Logo" width="174" />
  </p>
  <p style="text-align: center;">
    <strong>Download aplikasi AI Care</strong>
  </p>
  <p style="width: 100%; display: inline-block; text-align: center;">
  <div style="display: inline-block; margin: 0 auto;">
    <a style="float:left; margin: 0 2px;" href="https://play.google.com/store/apps/details?id=net.atmatech.hcp"
      title="AI Care Android" target="_blank" rel="noopener">
      <img src="https://s3.callink.id/aicare/public/google-play-button.png" alt="Logo" title="Logo" width="174"
        class="v-src-width v-src-max-width" />
    </a>
    <a style="float:left; margin: 0 2px;" href="https://apps.apple.com/id/app/ai-care/id1545122059"
      title="AI Care Android" target="_blank" rel="noopener">
      <img src="https://s3.callink.id/aicare/public/ios-play-button.png" alt="Logo" title="Logo" width="174"
        class="v-src-width v-src-max-width" />
    </a>
  </div>
  </p>
  <p style="width: 100%; display: inline-block; text-align: center;">
  <div style="display: inline-block; margin: 0 auto;">
    <a style="float:left; margin: 0 8px;" href="https://facebook.com/" title="LinkedIn" target="_blank" rel="noopener">
      <img src="https://s3.callink.id/aicare/public/facebook.png" alt="Logo" title="Logo" width="35" />
    </a>
    <a style="float:left; margin: 0 8px;" href="https://instagram.com/" title="LinkedIn" target="_blank" rel="noopener">
      <img src="https://s3.callink.id/aicare/public/instagram.png" alt="Logo" title="Logo" width="35" />
    </a>
    <a style="float:left; margin: 0 8px;" href="https://twitter.com/" title="LinkedIn" target="_blank" rel="noopener">
      <img src="https://s3.callink.id/aicare/public/twitter.png" alt="Logo" title="Logo" width="35" />
    </a>
    <a style="float:left; margin: 0 8px;" href="https://youtube.com/" title="LinkedIn" target="_blank" rel="noopener">
      <img src="https://s3.callink.id/aicare/public/youtube.png" alt="Logo" title="Logo" width="35" />
    </a>
    <a style="float:left; margin: 0 8px;" href="https://tiktok.com/" title="LinkedIn" target="_blank" rel="noopener">
      <img src="https://s3.callink.id/aicare/public/tik_tok.png" alt="Logo" title="Logo" width="35" />
    </a>
  </div>
  </p>
</div>
<div
  style="background-color: #F9F9F9;margin-top: 30px; padding: 25px 10px;text-align: center;font-family: Lato, sans-serif;font-size: 14px;">
  Copyright &copy; 2023, All Rights Reserved
</div>